[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
.vs/
DestroyViruses/*.csproj
DestroyViruses/*.sln
DestroyViruses/Assets/StreamingAssets.meta
DestroyViruses/Assets/StreamingAssets/
QuickHotUpdateTool/backup/
QuickHotUpdateTool/web/psyduck_search/__pycache__/
.~*.xlsx
Releases
HotUpdate/backup
热更日志.txt
