[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
.vs/
DestroyViruses/*.csproj
DestroyViruses/*.sln
DestroyViruses/AssetBundles/
DestroyViruses/Assets/StreamingAssets.meta
DestroyViruses/Assets/AssetBundles.meta
DestroyViruses/Assets/StreamingAssets/
DestroyViruses/QuickHotUpdate
