<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705713222983-l8c0obgdrm42s5ruln4bk4m65aq6at72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705713222983-l8c0obgdrm42s5ruln4bk4m65aq6at72</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>705713222983-91kirlqvo5pj31vf92ad2v4hkt8rltgf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCDFQoVCm_VyvmhWmdCI218PdCpCXgCmI</string>
	<key>GCM_SENDER_ID</key>
	<string>705713222983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unionfun.pss</string>
	<key>PROJECT_ID</key>
	<string>projectss-276f6</string>
	<key>STORAGE_BUCKET</key>
	<string>projectss-276f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705713222983:ios:e9c5ae2e410e6214a14862</string>
	<key>DATABASE_URL</key>
	<string>https://projectss-276f6.firebaseio.com</string>
</dict>
</plist>